<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
        $(function () {
            $('#toHome').on('click', function () {
                location.href = '/';
            });

            $('#toStoryList').on('click', function () {
                location.href = '/board/story/list';
            });
        })
    </script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <script defer src="../static/js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
</head>

<body>
    <header class="fixed-top" th:insert="~{fragments/header :: header}"></header><br><br><br><br>

    <h2>게임 페이지(한 페이지에서 진행 - ajax?)</h2><br>

    <h2>게임 끝</h2>
    <button class="btn btn-outline-secondary" id="toHome">메인 화면으로</button>
    <button class="btn btn-outline-secondary" id="toStoryList">스토리 공유하기</button>

</body>

</html>