<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
    <title>mojimoji</title>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <th:block layout:fragment="content">

    </th:block>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- Bootstrap JS -->
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>

</html>