@font-face {
    font-family: 'PretendardJP';
    src: url('/fonts/PretendardJPVariable.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    /* variable font인 경우, weight를 600으로 지정 */
    font-variation-settings: 'wght' 600;
}

body {
    font-family: 'PretendardJP', sans-serif;
}