<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
        $(function () {
            $('.toKanjiColecction').on('click', function () {
                location.href = '/kanji/collection';
            });
        })
    </script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <script defer src="../static/js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
</head>

<body>
    <header class="fixed-top" th:insert="~{fragments/header :: header}"></header>
    <br><br><br><br>
    <h2>수집현황</h2>
    <div style="display: inline-block; width: 200px; height: 200px; float: right;">
        <p>xxx1111님의 마이페이지</p>
        <p>최종접속일 : 2025/02/06</p>
        <a th:href="@{/board/mystory/myStoryList}" style="text-decoration: none;">작성한 스토리 : 329개</a>
    </div><br><br>

    <div style="display: inline-block; width: 100px; height: 100px; border: 1px solid black;" class="toKanjiColecction">
        전체 1495/2136</div>
    <div style="display: inline-block; width: 70px; height: 70px; border: 1px solid black;" class="toKanjiColecction">n1
        556/1113</div>
    <div style="display: inline-block; width: 70px; height: 70px; border: 1px solid black;" class="toKanjiColecction">n2
        332/415</div>
    <div style="display: inline-block; width: 70px; height: 70px; border: 1px solid black;" class="toKanjiColecction">n3
        324/324</div>
    <div style="display: inline-block; width: 70px; height: 70px; border: 1px solid black;" class="toKanjiColecction">n4
        180/181</div>
    <div style="display: inline-block; width: 70px; height: 70px; border: 1px solid black;" class="toKanjiColecction">n5
        103/103</div>

    <br><br><br><br><br><br>
    <fieldset style="display: inline-block; width: 600px; height: 300px;">
        <legend>그래프</legend>
    </fieldset>
    <fieldset style="display: inline-block; float: right;">
        <legend>카테고리</legend>
        <table>
            <tr>
                <td style="width: 300px; height: 50px; border: 1px solid black;" class="toKanjiColecction">
                    수학
                </td>
            </tr>
            <tr>
                <td style="width: 300px; height: 50px; border: 1px solid black; " class="toKanjiColecction">
                    동물
                </td>
            </tr>
            <tr>
                <td style="width: 300px; height: 50px; border: 1px solid black;" class="toKanjiColecction">
                    신체
                </td>
            </tr>
        </table>
    </fieldset>
</body>

</html>